<section class="u-align-center u-clearfix u-section-2" id="carousel_227a">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xl u-sheet-1">
      <div class="u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-size-20 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-style u-image u-layout-cell u-left-cell u-size-60 u-image-1" data-image-width="900" data-image-height="1177">
                  <div class="u-container-layout u-container-layout-1"></div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-30-md">
              <div class="u-layout-col">
                <div class="u-container-style u-layout-cell u-size-60 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom-lg u-container-layout-2">
                    <h1 class="u-align-center-xs u-custom-font u-font-roboto-condensed u-text u-text-palette-5-dark-2 u-text-1">Master Certified Coach</h1>
                    <img class="u-expand-resize u-expanded-width u-image u-image-2" src="/assets/images/-min.jpg" data-image-width="900" data-image-height="600">
                  </div>
                </div>
              </div>
            </div>
            <div class="u-size-20 u-size-60-md">
              <div class="u-layout-col">
                <div class="u-container-style u-hidden-md u-hidden-sm u-hidden-xs u-layout-cell u-right-cell u-size-30 u-layout-cell-3">
                  <div class="u-container-layout u-container-layout-3"></div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-4">
                  <div class="u-container-layout u-valign-top-lg u-valign-top-xl u-container-layout-4">
                    <div class="u-border-3 u-border-grey-15 u-container-style u-group u-white u-group-1">
                      <div class="u-container-layout u-container-layout-5">
                        <h3 class="u-custom-font u-text u-text-default u-text-font u-text-palette-5-dark-1 u-text-2">Free Consultation</h3>
                        <p class="u-text u-text-default u-text-3">The purpose of your first coaching consultation session is for you and your coach to make sure that you're a good fit to work together.</p>
                        <a href="/" class="u-btn u-btn-round u-button-style u-hover-black u-palette-5-light-2 u-radius-50 u-btn-1"><span class="u-icon"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 513.64 513.64" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M499.66,376.96l-71.68-71.68c-25.6-25.6-69.12-15.359-79.36,17.92c-7.68,23.041-33.28,35.841-56.32,30.72 c-51.2-12.8-120.32-79.36-133.12-133.12c-7.68-23.041,7.68-48.641,30.72-56.32c33.28-10.24,43.52-53.76,17.92-79.36l-71.68-71.68 c-20.48-17.92-51.2-17.92-69.12,0l-48.64,48.64c-48.64,51.2,5.12,186.88,125.44,307.2c120.32,120.32,256,176.641,307.2,125.44 l48.64-48.64C517.581,425.6,517.581,394.88,499.66,376.96z"></path></svg><img></span>&nbsp;Call now
                        </a>
                      </div>
                    </div>
                    <p class="u-text u-text-default u-text-4">Images from <a href="/" class="u-active-none u-border-1 u-border-black u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">Freepik</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>