.u-section-2 {
    background-image: none;
  }
  .u-section-2 .u-sheet-1 {
    min-height: 678px;
  }
  .u-section-2 .u-shape-1 {
    width: 355px;
    left: auto;
    right: 115px;
  }
  .u-section-2 .u-image-1 {
    width: 574px;
    height: 472px;
    margin: 103px auto 0 251px;
  }
  .u-section-2 .u-group-1 {
    width: 462px;
    min-height: 255px;
    background-image: none;
    height: auto;
    margin: -345px 0 0 auto;
  }
  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }
  .u-section-2 .u-text-1 {
    font-weight: 700;
    line-height: 1.3;
    font-size: 2.25rem;
    margin: 0;
  }
  .u-section-2 .u-text-2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 20px auto 0;
  }
  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }
  .u-section-2 .u-list-1 {
    min-height: 399px;
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-template-rows: repeat(1, auto);
    width: 524px;
    height: auto;
    grid-gap: 30px;
    margin: -245px auto 39px 0;
  }
  .u-section-2 .u-list-item-1 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,47,51,0.4);
  }
  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }
  .u-section-2 .u-icon-1 {
    height: 74px;
    width: 74px;
    background-image: none;
    margin: 0 auto;
  }
  .u-section-2 .u-text-3 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 23px 0 0;
  }
  .u-section-2 .u-list-item-2 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,47,51,0.4);
  }
  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }
  .u-section-2 .u-icon-2 {
    height: 74px;
    width: 74px;
    background-image: none;
    margin: 0 auto;
  }
  .u-section-2 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 23px 0 0;
  }
  .u-section-2 .u-list-item-3 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,47,51,0.4);
  }
  .u-section-2 .u-container-layout-4 {
    padding: 30px;
  }
  .u-section-2 .u-icon-3 {
    height: 74px;
    width: 74px;
    background-image: none;
    margin: 0 auto;
  }
  .u-section-2 .u-text-5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 23px 0 0;
  }
  .u-section-2 .u-list-item-4 {
    background-image: none;
    box-shadow: 5px 5px 20px 0 rgba(41,47,51,0.4);
  }
  .u-section-2 .u-container-layout-5 {
    padding: 30px;
  }
  .u-section-2 .u-icon-4 {
    height: 74px;
    width: 74px;
    background-image: none;
    margin: 0 auto;
  }
  .u-section-2 .u-text-6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.25rem;
    font-weight: 700;
    margin: 23px 0 0;
  }
  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 462px;
    }
    .u-section-2 .u-shape-1 {
      right: 192px;
    }
    .u-section-2 .u-image-1 {
      margin-top: 115px;
    }
    .u-section-2 .u-group-1 {
      width: 513px;
      min-height: 243px;
      margin-bottom: 60px;
    }
    .u-section-2 .u-text-1 {
      font-size: 2rem;
    }
    .u-section-2 .u-text-2 {
      font-size: 1rem;
    }
    .u-section-2 .u-list-1 {
      min-height: 183px;
    }
  }
  @media (max-width: 991px) {
    .u-section-2 .u-image-1 {
      margin-top: 103px;
      margin-left: 146px;
    }
    .u-section-2 .u-group-1 {
      margin-top: -88px;
      margin-right: auto;
    }
    .u-section-2 .u-list-1 {
      grid-template-columns: 100%;
    }
  }
  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 434px;
    }
    .u-section-2 .u-shape-1 {
      right: 335px;
    }
    .u-section-2 .u-image-1 {
      width: 540px;
      height: 444px;
      margin-left: 0;
    }
    .u-section-2 .u-group-1 {
      width: 467px;
      min-height: 223px;
      margin-top: -61px;
    }
    .u-section-2 .u-container-layout-1 {
      padding-left: 25px;
      padding-right: 25px;
    }
    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-2 .u-container-layout-3 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-2 .u-container-layout-4 {
      padding-left: 10px;
      padding-right: 10px;
    }
    .u-section-2 .u-container-layout-5 {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 270px;
    }
    .u-section-2 .u-shape-1 {
      width: 220px;
      margin-left: auto;
      margin-right: auto;
      right: 0;
    }
    .u-section-2 .u-image-1 {
      width: 340px;
      height: 280px;
      margin-top: -449px;
    }
    .u-section-2 .u-group-1 {
      width: 273px;
      margin-top: 200px;
      margin-bottom: 49px;
    }
    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }
    .u-section-2 .u-text-1 {
      font-size: 1.5rem;
    }
    .u-section-2 .u-text-2 {
      font-size: 0.875rem;
    }
    .u-section-2 .u-list-1 {
      width: 340px;
      margin-top: 50px;
    }
  }