.u-section-2 .u-sheet-1 {
    min-height: 964px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
    font-weight: 700;
    margin: 60px 40px 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-bottom: 60px;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 30px;
  }

  .u-section-2 .u-shape-1 {
    width: 367px;
    height: 367px;
    margin: 80px -222px 0 auto;
  }

  .u-section-2 .u-text-2 {
    line-height: 2;
    margin: 20px 0 0;
  }

  .u-section-2 .u-image-1 {
    background-image: url("/assets/images/dddhre-min.jpg");
    background-position: 50% 50%;
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 735px;
  }

  .u-section-2 .u-container-layout-3 {
    padding: 30px;
  }

  .u-section-2 .u-text-3 {
    font-weight: 700;
    letter-spacing: 4px;
    margin: 0;
  }

  .u-section-2 .u-image-2 {
    width: 290px;
    height: 290px;
    background-image: url("/assets/images/saf-min.jpg");
    background-position: 50% 50%;
    margin: 30px auto 0 0;
  }

  .u-section-2 .u-shape-2 {
    width: 157px;
    height: 157px;
    margin: -144px -64px 0 auto;
  }

  .u-section-2 .u-text-4 {
    margin: 30px 0 0;
  }

  .u-section-2 .u-text-5 {
    margin: 20px 0 0;
  }

  .u-section-2 .u-btn-1 {
    border-style: none none solid;
    padding: 0;
  }

  .u-section-2 .u-btn-2 {
    text-transform: uppercase;
    font-weight: 700;
    background-image: none;
    border-style: none;
    margin: 34px auto 0 0;
    padding: 10px 39px 11px;
  }

  @media (max-width: 1199px) {
    .u-section-2 .u-sheet-1 {
      min-height: 835px;
    }

    .u-section-2 .u-text-1 {
      margin-left: 0;
      margin-right: 0;
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 606px;
    }

    .u-section-2 .u-image-1 {
      min-height: 606px;
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 606px;
    }

    .u-section-2 .u-image-2 {
      width: 253px;
      height: 253px;
    }

    .u-section-2 .u-shape-2 {
      margin-top: -107px;
    }
  }

  @media (max-width: 991px) {
    .u-section-2 .u-sheet-1 {
      min-height: 815px;
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -23px;
      margin-left: initial;
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 560px;
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 20px;
      padding-right: 20px;
    }

    .u-section-2 .u-shape-1 {
      width: 298px;
      height: 298px;
      margin-right: -166px;
      margin-left: 48px;
    }

    .u-section-2 .u-image-1 {
      min-height: 560px;
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 560px;
    }

    .u-section-2 .u-container-layout-3 {
      padding-right: 20px;
      padding-bottom: 27px;
    }

    .u-section-2 .u-image-2 {
      height: 180px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }

    .u-section-2 .u-shape-2 {
      width: 97px;
      height: 97px;
      margin-top: -110px;
      margin-right: -48px;
    }

    .u-section-2 .u-text-4 {
      margin-top: 50px;
    }
  }

  @media (max-width: 767px) {
    .u-section-2 .u-sheet-1 {
      min-height: 2140px;
    }

    .u-section-2 .u-layout-wrap-1 {
      width: 480px;
      margin-right: auto;
      margin-bottom: -222px;
      margin-left: 0;
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 320px;
    }

    .u-section-2 .u-container-layout-1 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-2 .u-shape-1 {
      width: 343px;
      height: 343px;
      margin-top: 190px;
      margin-right: -70px;
      margin-left: auto;
    }

    .u-section-2 .u-text-2 {
      margin-top: -491px;
    }

    .u-section-2 .u-image-1 {
      min-height: 738px;
    }

    .u-section-2 .u-container-layout-2 {
      padding-left: 10px;
      padding-right: 10px;
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 853px;
    }

    .u-section-2 .u-container-layout-3 {
      padding: 40px 10px 30px;
    }

    .u-section-2 .u-image-2 {
      height: 453px;
      width: 453px;
      margin-right: auto;
      margin-left: 0;
    }

    .u-section-2 .u-shape-2 {
      width: 196px;
      height: 196px;
      margin-top: -152px;
      margin-right: -22px;
    }

    .u-section-2 .u-text-4 {
      margin-top: 60px;
    }
  }

  @media (max-width: 575px) {
    .u-section-2 .u-sheet-1 {
      min-height: 1655px;
    }

    .u-section-2 .u-text-1 {
      font-size: 2.25rem;
    }

    .u-section-2 .u-layout-wrap-1 {
      margin-bottom: -35px;
      margin-right: initial;
      margin-left: initial;
      width: auto;
    }

    .u-section-2 .u-layout-cell-1 {
      min-height: 206px;
    }

    .u-section-2 .u-container-layout-1 {
      padding-top: 0;
    }

    .u-section-2 .u-shape-1 {
      width: 319px;
      height: 319px;
      margin-top: 161px;
      margin-right: -46px;
    }

    .u-section-2 .u-text-2 {
      margin-top: -459px;
    }

    .u-section-2 .u-image-1 {
      min-height: 469px;
    }

    .u-section-2 .u-layout-cell-3 {
      min-height: 778px;
    }

    .u-section-2 .u-container-layout-3 {
      padding-top: 30px;
      padding-bottom: 0;
    }

    .u-section-2 .u-image-2 {
      height: 320px;
      width: 320px;
    }

    .u-section-2 .u-shape-2 {
      margin-top: -147px;
      margin-right: -36px;
    }

    .u-section-2 .u-text-4 {
      margin-top: 50px;
    }
  }
