<section class="u-align-center u-clearfix u-section-2" id="carousel_fd92">
    <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
      <h2 class="u-custom-font u-font-merriweather u-text u-text-1">How we help</h2>
      <div class="u-clearfix u-expanded-width-lg u-expanded-width-md u-expanded-width-xl u-expanded-width-xs u-layout-wrap u-layout-wrap-1">
        <div class="u-gutter-0 u-layout">
          <div class="u-layout-row">
            <div class="u-container-style u-layout-cell u-size-20 u-layout-cell-1">
              <div class="u-container-layout u-container-layout-1">
                <div class="u-palette-2-base u-shape u-shape-circle u-shape-1"></div>
                <ul class="u-custom-list u-text u-text-2">
                  <li>
                    <div class="class u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-bc6e" style="enable-background:new 0 0 405.272 405.272;"><g><path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
</g></svg>
                    </div>What we do
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-bc6e" style="enable-background:new 0 0 405.272 405.272;"><g><path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
</g></svg>
                    </div>Results &amp; partnerships
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-bc6e" style="enable-background:new 0 0 405.272 405.272;"><g><path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
</g></svg>
                    </div>Enduring results
                  </li>
                  <li>
                    <div class="class u-list-icon">
                      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 405.272 405.272" x="0px" y="0px" id="svg-bc6e" style="enable-background:new 0 0 405.272 405.272;"><g><path d="M393.401,124.425L179.603,338.208c-15.832,15.835-41.514,15.835-57.361,0L11.878,227.836   c-15.838-15.835-15.838-41.52,0-57.358c15.841-15.841,41.521-15.841,57.355-0.006l81.698,81.699L336.037,67.064   c15.841-15.841,41.523-15.829,57.358,0C409.23,82.902,409.23,108.578,393.401,124.425z"></path>
</g></svg>
                    </div>Our team
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-container-style u-image u-layout-cell u-size-20 u-image-1">
              <div class="u-container-layout u-container-layout-2"></div>
            </div>
            <div class="u-align-left u-container-style u-layout-cell u-size-20 u-layout-cell-3">
              <div class="u-container-layout u-container-layout-3">
                <h6 class="u-text u-text-3">about company</h6>
                <div alt="" class="u-expanded-width-md u-image u-image-circle u-image-2" data-image-width="600" data-image-height="600"></div>
                <div class="u-palette-1-base u-shape u-shape-circle u-shape-2"></div>
                <p class="u-text u-text-grey-40 u-text-4">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
                <p class="u-text u-text-grey-40 u-text-5">Image from <a href="https://www.freepik.com/photos/people" class="u-active-none u-border-2 u-border-palette-1-dark-3 u-btn u-button-link u-button-style u-hover-none u-none u-text-grey-40 u-btn-1">Freepik</a>
                </p>
                <a href="/" class="u-black u-btn u-btn-round u-button-style u-radius-50 u-text-body-alt-color u-btn-2">learn more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>